<header class="header">
  <div class="header-container">
    <figure>
      <img
        class="header-logo__image"
        src="assets/static/rickMorty-logo.png"
        alt="rickMorty-logo"
      />
      <i
        ><img
          class="header-logo__icon"
          src="assets/static/icons-menu.png"
          alt=""
      /></i>
    </figure>

    <nav class="header-menu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/character-list">Characters</a></li>
      </ul>
    </nav>
  </div>
</header>
